@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.frameButton {
    width: 14.4rem;
    height: 10.8rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #ECE3A1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;

    cursor: pointer;
}

.frameContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5rem;
}

.pageContainer {
    width: 64rem;
    min-height: 36rem;
    max-height: 48rem;
    height: max-content;
}

.frameImage {
    width: 16rem;
    height: 12rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.frame {
    position: relative;
}

.title {
    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
}

.student {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
}

.doorImg {
    width : 60vh;
    height: 60vh;
}

.profImg {
    width: 27vh;
    height: 21vh;
    margin: 15vh 0 0 -10vh;
}

.doorFrame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.entrance {
    width: 36vh;
    height: 40vh;
    margin-top: 10vh;
}

.lobby {
    width: 48vh;
    height: 40vh;
    margin-top: 10vh;
}

.buttonContainer {
    position: fixed;
    bottom: 5vh;
    left: 3vh;
}

.buttonImg {
    width: 8vh;
    height: 8vh;
    cursor: pointer;
}

.signText {
    position : fixed;
    top : 14vh;
    left: 5vh;

    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
    text-align: center;
}

.signImg {
    position : fixed;
    top: 10vh;
    left: 3vh;

    height: 10vh;
}

.talk {
    position: fixed;
    top: 30vh;
    margin-left: 100vh;
    left: auto;

    padding: 2vh;
    border-radius: 1vh;    

    background-color: #FCFCFC;
    color: #222222;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.talk:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}