.frameButton {
    width: 14.4rem;
    height: 10.8rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
}

.frameContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5rem;
}

.pageContainer {
    width: 64rem;
    min-height: 36rem;
    max-height: 48rem;
    height: max-content;
}

.frameImage {
    width: 16rem;
    height: 12rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.frame {
    position: relative;
}