body {
    margin: 0;
    /* overflow: hidden; */
    -ms-user-select: none; 
    -webkit-user-select: none;
    user-select: none;
    height: 200vh;
    width: fit-content;
    background-color: pink;
}

::-webkit-scrollbar {
    display: none;
}

#game {
    overflow: hidden;
    height: 100vh;
    position: absolute;
    top: 100vh;
    margin: 0;
    z-index: -1;
}